@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";



.home-slider div img {
	width: 100%;
}

#homepage_categories{
	clear: both;
	float: left;
	width: 100%;
}

#homepage_categories a {
  //border: 1px solid black;
  width: 25%;
  float: left;
  position: relative;
  display: block;
  background: #000;
  overflow: hidden;
}

#homepage_categories a img {
	width: 100%;
	background-color: black;
}

#homepage_categories a img:hover{
	overflow:hidden;
	transform: scale(1.1,1.1);
	opacity: 0.7;
	transition: all 500ms ease-in-out;
}

#homepage_categories a h4 {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: auto;
	left: 50%;
	text-align: center;
	color: #fff;
	padding-bottom: .5em;
	text-shadow: 0 0 0 #fff;
	font-weight:200;
}

.promo{
	overflow:hidden;
}
.promo img{
	width:100%;

}

footer[role=contentinfo] {
	clear: both;
	padding: 2em 0;
//margin-top: 4em;
background-color: #333333;
height: 20em;
}

footer[role=contentinfo]>div {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 80rem;
}

footer[role=contentinfo] .footer_section:not(:last-child) {
	padding-left: 1rem;
	padding-right: 1rem;
	width: 25%;
	float: left;
}

footer[role=contentinfo] .footer_section:last-child {
	padding-left: 1rem;
	padding-right: 1rem;
	width: 25%;
	float: right;
	margin-left: 25%!important;
	text-align: right;
}

footer[role=contentinfo] .footer_section nav a {
display: block;
}



.top-bar-nav li{
	margin: 0 5px 0 5px;
	color: #fff;

}


#parallax {
	background-image: url(../assets/img/flowers_parallax_bg.jpg);
	height: 15em;
}

.logo{
	margin-top: 10px;
	margin-right: 10px;
}

.dropdown_menu nav {
	padding-top: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 2rem;
	width: 16.66667%;
	float: left;
}

.dropdown_menu nav a {
	clear: both;
	display: block;
	float: left;
	margin-bottom: 5px;
	position: relative;
	color: #fff;
	font-size:80%;

}

.dropdown_menu nav a:hover {
	text-decoration: underline;
}

.dropdown_menu nav a:first-child{
	font-size:90%;
	text-transform: uppercase;
	letter-spacing: .075em;
}

.dropdown_menu {
	background-color:#333333;
	display:none;
	opacity:0.92;
	position: absolute;
	z-index: 999;
	width: 100%;
	box-shadow: inset 0px -1px 5px 0px rgba(0,0,0,0.75);
}